html {
    background: #111;
    color: #fcfcfc;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 230%;
}

#hd {
    color: #515151;
}

h1 {
    padding: 30px 50px;
    font: bold 120% "Helvetica Neue";
    letter-spacing: -1px;
    text-align: left;
    float: left;
}

.loading {
    font-size: 250%;
}

.yui3-clockbox {
    float: right;
    padding: 0 50px 0;
}

#nowplaying, #tweets {
    clear: both;
}

#ft {
    position: absolute;
    bottom: 0;
    opacity: 0.2;
    padding: 0 50px;
    text-align: right;
    font-size: 21px;
    letter-spacing: -1px;
    height: 55px;
    line-height: 55px;
}

#ft .yls { 
    font-weight: bold;
}
#ft img {
    vertical-align: middle;
}


.yui3-clockbox .clock {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

.yui3-nowplaying {
    margin: 0 45px;
}

.yui3-nowplaying h2 {
    clear: both;
    font-size: 100%;
    line-height: 48px;
}

.yui3-nowplaying .jumbotrack {
    clear: both;
    background: #212121;
    border-radius: 15px;
    padding: 20px;
    font-size: 84px;
    -webkit-font-smoothing: antialiased;
}

.yui3-nowplaying .jumbotrack img {
    padding-right: 20px;
    float: left;
}

.yui3-nowplaying .jumbotrack .title {
    font-weight: bold;
    display: block;
}
.yui3-nowplaying .jumbotrack .artist {
    display: block;
}

.yui3-tweetbox {
    margin: 0 15px;
}

.yui3-tweetbox h2 {
    font-size: 120%;
    border-bottom: 1px solid #fff;
}

.yui3-tweetbox li {
    clear: both;
    display: block;
    margin-bottom: 15px;
    padding: 30px;
    overflow: hidden;
}

.yui3-tweetbox li p {
    clear: both;
    background: #212121;
    border-radius: 15px;
    padding: 20px;
    font-family: Georgia;
    font-size: 93px;
    line-height: 100px;
    font-family: Georgia,Palatino,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}


.yui3-tweetbox .hcard {
    height: 48px;
    line-height: 48px;
    margin: 0 20px 20px;
    text-shadow: 0 2px 0 #000;
}

.yui3-tweetbox .hcard img {
   float: left;
   border: 1px solid #fff;
}

.yui3-tweetbox .hcard span {
    display: block;
    float: left;
    margin-left: 10px;
}
.yui3-tweetbox .hcard .time {
    float: right;
    color: #bbb;
}

.yui3-nowplaying .jumbotrack:after,
.yui3-tweetbox li:after,
#clock:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.yui3-nowplaying .jumbotrack:after,
.yui3-tweetbox p:after {
    clear: both;
}
